<!DOCTYPE html>
<!-- class: app-fluid 浮动顶栏 / app 传统布局 / " " boxed布局-->
<html lang="zh-CN" class="app" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="utf-8"/>
    <title>平台 | 主页</title>
    <meta name="description" content="系统主页"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1"><!--IE=edge-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!-- 网页标题前方的小图标 -->
    <link rel="shortcut icon" th:href="@{/image/minus.png}">
    <link rel="stylesheet" th:href="@{/style/theme/js/jPlayer/jplayer.flat.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/css/bootstrap.css}" type="text/css"/>
    <!-- toastr -->
    <link rel="stylesheet" th:href="@{/style/theme/js/toastr/toastr.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/js/toastr/toastr_oth.css}" type="text/css"/>
    <!-- metronic -->
    <link rel="stylesheet" th:href="@{/style/metronic/css/todo.min.css}" type="text/css"/>

    <link rel="stylesheet" th:href="@{/style/theme/css/animate.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/css/simple-line-icons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/css/font.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style/theme/css/app.css}" type="text/css"/>
    <!-- pace.js -->
    <script th:src="@{/style/theme/js/pace/pace.min.js}"></script>
    <link rel="stylesheet" th:href="@{/style/theme/js/pace/pace.css}">
    <!-- contabs -->
    <link rel="stylesheet" th:href="@{/style/theme/js/tab/contabs.css}" type="text/css"/>
    <!-- DatePicker -->
    <script th:src="@{/extjs/DatePicker/WdatePicker.js}"></script>

    <style type="text/css">
        .detail-ads3, .detail-ads, [class^="in-ads-"], .wide-bg-dark > .wide-main > .page-in-main:first-child > .page-banner, .wide-main > .page-in-main:first-child + .in-media-side {
            display: none !important;
            display: none
        }</style>
    <!-- IE8 -->
    <script th:src="@{/style/theme/js/ie/html5shiv.js}"></script>
    <script th:src="@{/style/theme/js/ie/respond.min.js}"></script>
    <script th:src="@{/style/theme/js/ie/excanvas.js}"></script>
</head>
<body class="">
<section class="vbox">
    <!-- TODO 顶栏颜色 -->
    <!-- 白色的顶栏 -->
    <!--<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">-->
    <!-- 灰白色的顶栏-->
    <header class="bg-light lter header header-md navbar navbar-fixed-top-xs">
        <!-- 顶部左边区域 系统标题-->
        <!-- TODO 标题颜色 -->
        <div class="navbar-header aside bg-info dk">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                <i class="icon-list"></i>
            </a>
            <a href="javascript:void(0)" class="navbar-brand text-lt">
                <!--<i class="fa fa-h-square fa-2x"></i>-->
                <!--<i class="fa fa-xing fa-2x"></i>-->
                <i class="fa fa-meetup fa-2x"></i>
                <img th:src="@{/image/logo.png}" alt="." class="hide">
                <span class="hidden-nav-xs m-l-sm">PM</span>
            </a>
            <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                <i class="icon-settings"></i>
            </a>
        </div>
        <!--顶部右边区域 系统栏 -->
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
                    <i class="fa fa-indent text"></i>
                    <i class="fa fa-dedent text-active"></i>
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn"><!--class:btn-icon-->
                      <button type="submit" class="btn btn-sm bg-white rounded" disabled="disabled">
                          <i class="fa fa-calendar"></i>&nbsp;日期</button>
                    </span>
                    <input type="text" class="form-control input-sm no-border rounded"
                           style="width:125px;"
                           required=""
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                           onchange="changeDate(this.value)"
                           th:value="|${session.loginSession.date}|">
                </div>
            </div>
        </form>
        <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-sm bg-white btn-icon rounded" disabled="disabled">
                          <i class="fa fa-sheqel"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm no-border rounded"
                           style="width:175px;"
                           th:value="|${session.loginSession.companyid} ${session.loginSession.companyname}|"
                           onfocus=this.blur()
                    >
                </div>
            </div>
        </form>
        <div class="navbar-right ">
            <ul class="nav navbar-nav m-n hidden-xs nav-user user">
                <li class="hidden-xs">
                    <!-- 未读消息 -->
                    <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
                        <i class="icon-bell"></i>
                        <span class="badge badge-sm up bg-danger count" th:text="${noticeNum}"></span>
                    </a>
                    <!-- 未读消息框 -->
                    <section class="dropdown-menu aside-xl animated fadeInUp">
                        <section class="panel bg-white" id="unReadNoticeListSection">
                            <div class="panel-heading b-light bg-light">
                                <strong>你有 <span class="count" th:text="${noticeNum}"></span> 条未读消息</strong>
                            </div>
                            <div class="list-group list-group-alt" id="unReadNoticeListDiv">
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:showNoticeDetail(\''+${notice.pkid}+'\',\''+${notice.title}+'\',\''+${notice.content}+'\',\''+${notice.fromwhoname}+'\',\''+${notice.senttime}+'\');'"
                                   class="media list-group-item" th:each="notice:${noticeList}">
                                    <span class="pull-left thumb-sm">
                                          <img th:if="${notice.type == 1}" th:src="@{/style/theme/images/message.png}"
                                               alt="..." class="img-circle">
                                          <img th:if="${notice.type == 2}" th:src="@{/style/theme/images/email.png}"
                                               alt="..." class="img-circle">
                                          <img th:if="${notice.type == 3}" th:src="@{/style/theme/images/clock.png}"
                                               alt="..." class="img-circle">
                                    </span>
                                    <span class="media-body block m-b-none">
                                      <span th:text="|通知：${notice.title}|"></span><br>
                                      <small class="text-muted">
                                          <i class="fa fa-user-o"></i>
                                          <span th:text="${notice.fromwhoname}"></span>
                                          &nbsp;&nbsp;
                                          <i class="fa fa-clock-o"></i>
                                          <span th:text="${notice.senttime}"></span>
                                      </small>
                                    </span>
                                </a>
                            </div>
                            <div class="panel-footer text-sm">
                                <a class="J_menuItem" href="javascript:void(0)" onclick="setNoticeReadState('ALL');"
                                   class="pull-right"><i class="fa fa-trash-o"></i></a>
                                <a class="J_menuItem" th:href="@{/noticeInfo/view/ALL}"
                                   data-toggle="class:show animated fadeInRight">查看所有通知消息</a>
                            </div>
                        </section>
                    </section>
                </li>
                <li class="dropdown">
                    <!-- 用户头像 信息框 -->
                    <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                            <img th:src="@{/style/theme/images/a0.png}" alt="...">
                        </span>
                        <span th:text="${session.loginSession.username}"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li>
                            <a class="J_menuItem" th:href="@{/userInfo/profile}">个人信息</a>
                        </li>
                        <li>
                            <a class="J_menuItem" th:href="@{/noticeInfo/view/ALL}">
                                <span id="head_notice_num_id1" class="badge bg-danger pull-right"
                                      th:text="${noticeNum}"></span>
                                未读消息
                            </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="docs.html">系统帮助</a>-->
                        <!--</li>-->
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}">退出系统</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <!-- TODO 侧边栏颜色 -->
            <!-- 侧边菜单栏 -->
            <!-- 黑色背景 -->
            <!--<aside class="bg-black dk aside hidden-print" id="nav">-->
            <!-- 透明灰色 nav-xs 缩菜单栏-->
            <aside class="bg-dark aside hidden-print" id="nav">
                <section class="vbox">
                    <section id="dependsOnIEVerionChangeCss" class="w-f-md scrollable">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                             data-size="10px" data-railOpacity="0.25">
                            <!-- nav -->
                            <nav class="nav-primary hidden-xs" th:each="resource:${session.loginSession.resources}"
                                 th:if="${resource.parentid}==''">
                                <ul class="nav" data-ride="collapse" th:if="${resource.parentid}==''">
                                    <!-- 一级菜单 父节点-->
                                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"
                                        th:if="${resource.parentid}==''">
                                        <i th:class="|fa fa-${resource.fa} m-t m-b-sm text-xs text-muted|"></i><span
                                            th:text="${resource.name}"></span>
                                    </li>
                                    <li th:each="resource1:${session.loginSession.resources}"
                                        th:if="${resource.parentid==''} and ${resource1.parentid == resource.pkid}">
                                        <!-- 二级菜单  父节点 -->
                                        <a class="auto" href="#"
                                           th:if="${resource1.parentid == resource.pkid} and ${resource1.isleaf == 0}">
                                            <span class="pull-right text-muted">
                                              <i class="fa fa-angle-left text"></i>
                                              <i class="fa fa-angle-down text-active"></i>
                                            </span>
                                            <i th:class="|fa fa-${resource1.fa}|"></i><span
                                                th:text="${resource1.name}"></span>
                                        </a>
                                        <ul class="nav dk text-sm" >
                                            <li th:each="resource2:${session.loginSession.resources}" th:if="${resource2.parentid == resource1.pkid}">
                                                <!-- 三级菜单 父节点 -->
                                                <a class="auto" href="#"
                                                   th:if="${resource2.parentid == resource1.pkid} and ${resource2.isleaf == 0}">
                                                    <span class="pull-right text-muted">
                                                      <i class="fa fa-angle-left text"></i>
                                                      <i class="fa fa-angle-down text-active"></i>
                                                    </span>
                                                    <i style="margin-left:1px;" th:class="|fa fa-${resource2.fa}|"></i><span
                                                        th:text="${resource2.name}"></span>
                                                </a>
                                                <ul class="nav dk text-sm">
                                                    <li th:each="resource3:${session.loginSession.resources}" th:if="${resource3.isleaf == 1}">
                                                        <!-- 四级菜单  父节点  暂时约定程序最多四级-->
                                                        <!-- 四级菜单  子节点 -->
                                                        <a class="J_menuItem" th:href="${resource3.resurl+'?token='+token}"
                                                           th:if="${resource3.parentid == resource2.pkid} and ${resource3.isleaf == 1}">
                                                            <i style="margin-left:6px;" th:class="|fa fa-${resource3.fa} text-xs|"></i><span
                                                                th:text="${resource3.name}"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- 三级菜单 子节点 -->
                                                <a class="J_menuItem" th:href="${resource2.resurl+'?token='+token}"
                                                   th:if="${resource2.parentid == resource1.pkid} and ${resource2.isleaf == 1}">
                                                    <i style="margin-left:1px;" th:class="|fa fa-${resource2.fa} text-xs|"></i><span
                                                        th:text="${resource2.name}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- 二级菜单  子节点 -->
                                        <a class="J_menuItem" th:href="${resource1.resurl+'?token='+token}"
                                           th:if="${resource1.parentid == resource.pkid} and ${resource1.isleaf == 1}">
                                            <i th:class="|fa fa-${resource1.fa} text-xs|"></i><span class="font-bold"
                                                                                                    th:text="${resource1.name}"></span>
                                        </a>
                                    </li>
                                    <li class="m-b hidden-nav-xs"></li>
                                </ul>
                            </nav>
                            <!-- / nav -->
                        </div>
                    </section>
                    <!-- 侧边栏末尾 -->
<!--                    <footer class="footer hidden-xs no-padder text-center-nav-xs">-->
<!--                        <div class="bg hidden-xs ">-->
<!--                            <div class="dropdown dropup wrapper-sm clearfix">-->
<!--                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                                    <span class="thumb-sm avatar pull-left m-l-xs">-->
<!--                                        &lt;!&ndash;修改去掉img的class="dker"&ndash;&gt;-->
<!--                                        <img th:src="@{/style/theme/images/a0.png}" alt="...">-->
<!--                                        <i class="on b-black"></i>-->
<!--                                    </span>-->
<!--                                    <span class="hidden-nav-xs clear">-->
<!--                                    <span class="block m-l">-->
<!--                                      <strong class="font-bold text-lt"-->
<!--                                              th:text="${session.loginSession.username}"></strong>-->
<!--                                      <b class="caret"></b>-->
<!--                                    </span>-->
<!--                                    <span class="text-muted text-xs block m-l"-->
<!--                                          th:text="${session.loginSession.deptname}"></span>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu animated fadeInRight aside text-left">-->
<!--                                    <li>-->
<!--                                        <a class="J_menuItem" th:href="@{/userInfo/profile}">个人信息</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a class="J_menuItem" th:href="@{/noticeInfo/view/ALL}">-->
<!--                                            <span id="head_notice_num_id2" class="badge bg-danger pull-right"-->
<!--                                                  th:text="${noticeNum}"></span>-->
<!--                                            未读消息-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    &lt;!&ndash;<li>&ndash;&gt;-->
<!--                                    &lt;!&ndash;<a href="docs.html">系统帮助</a>&ndash;&gt;-->
<!--                                    &lt;!&ndash;</li>&ndash;&gt;-->
<!--                                    <li class="divider"></li>-->
<!--                                    <li>-->
<!--                                        <a th:href="@{/logout}">退出系统</a>&lt;!&ndash; data-toggle="ajaxModal" &ndash;&gt;-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </footer>-->
                </section>
            </aside>
            <section id="content">
                <section class="vbox">
                    <section class="scrollable wrapper w-f bg-white-only" style="padding: 0 15px;">
                        <!-- /.aside -->
                        <div class="row content-tabs">
                            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                            </button>
                            <nav class="page-tabs J_menuTabs">
                                <div class="page-tabs-content">
                                    <a href="javascript:void(0)" class="active J_menuTab" data-id="homepage">首页</a>
                                </div>
                            </nav>
                            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                            </button>
                            <div class="btn-group roll-nav roll-right">
                                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭<b class="caret"></b>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li class="J_tabShowActive">
                                        <a>定位当前选项卡</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="J_tabCloseAll">
                                        <a>关闭全部选项卡</a>
                                    </li>
                                    <li class="J_tabCloseOther">
                                        <a>关闭其他选项卡</a>
                                    </li>
                                </ul>
                            </div>
                            <a th:href="@{/logout}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
                        </div>
                        <div class="row J_mainContent" id="content-main">
                            <iframe class="J_iframe" name="iframe0" width="100%" height="600px"
                                    th:src="@{/userInfo/mainpage}" frameborder="0" onload="changeFrameHeight(this)"
                                    data-id="homepage" seamless></iframe>
                        </div>
                    </section>
                    <footer class="footer bg-light">
                        <div style="text-align:right;margin-top:5px;float:left">
                            <h6 style="color:#142d41;font-size:12px;font-weight: bold">
                                © TIM 版权所有[2018]
                            </h6>
                        </div>
                        <div style="text-align:right;margin-top:5px;float:right">
                            <h6 style="color:#142d41;font-size:12px;font-style:oblique" th:text="|系统版本:${version}|">
                            </h6>
                        </div>
                    </footer>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
                   data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>
<div id="todo-task-modal" class="scrollable modal fade " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
            <div class="modal-header">
                <button class="btn green" style="color: #FFF;background-color: #32c5d2;border-color: #32c5d2"
                        data-dismiss="modal" aria-hidden="true">关闭
                </button>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body todo-task-modal-body">
                <div class="todo-container">
                    <div class="row tab-pane active">
                        <!--<div class="col-md-7">-->
                        <div class="todo-tasks-container">
                            <div class="todo-head">
                                <!--<button class="btn btn-square btn-sm red todo-bold" data-toggle="modal" href="#todo-task-modal">标记全部为已读</button>-->
                                <h3>
                                    <span class="todo-grey">标题：</span>
                                    <span id="noticeDetail_title"></span>
                                </h3>
                                <p class="todo-inline">
                                    <!--<a class="todo-add-button" href="#todo-members-modal" data-toggle="modal">+</a>-->
                                </p>
                                <br>
                                <p class="todo-inline todo-float-r">
                                    <i class="fa fa-user-o"></i>
                                    <span class="todo-red" id="noticeDetail_fromwhoname"></span>
                                    &nbsp;&nbsp;
                                    <i class="fa fa-clock-o"></i>
                                    <span class="todo-red" id="noticeDetail_senttime"></span>
                                </p>
                            </div>
                            <ul class="todo-tasks-content">
                                <li class="todo-tasks-item">
                                    <h4 class="todo-inline" style="height:250px;">内容：
                                        <span id="noticeDetail_content"></span>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/style/theme/js/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/style/theme/js/bootstrap.js}"></script>
<!-- tab -->
<script th:src="@{/style/theme/js/tab/contabs.js}"></script>
<!-- toastr -->
<script type="text/javascript" th:src="@{/style/theme/js/toastr/toastr.min.js}"></script>
<!-- mloading -->
<script type="text/javascript" th:src="@{/style/theme/js/common/jquery.mloading.js}"></script>
<!-- App -->
<script th:src="@{/style/theme/js/app.js}"></script>
<script th:src="@{/style/theme/js/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/style/theme/js/charts/easypiechart/jquery.easy-pie-chart.js}"></script>
<script th:src="@{/style/theme/js/charts/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/style/theme/js/app.plugin.js}"></script>
<script type="text/javascript" th:src="@{/style/theme/js/jPlayer/jquery.jplayer.min.js}"></script>
<script type="text/javascript" th:src="@{/style/theme/js/jPlayer/add-on/jplayer.playlist.min.js}"></script>
<script type="text/javascript" th:src="@{/style/theme/js/jPlayer/demo.js}"></script>
<!-- socket.io -->
<script th:src="@{/extjs/socket.io/socket.io.js}"></script>
<!-- socket.io.js -->
<script type="text/javascript" th:src="@{/style/theme/js/widgets.js}"></script>
<script th:inline="javascript">
    var userid = [[${session.loginSession.userid}]];
    var token = [[${token}]];
    var username = [[${session.loginSession.username}]];
    var socket_port = [[${socket_port}]];
</script>
<script type="text/javascript" th:src="@{/style/theme/js/widgets.notice.js}"></script>
</body>
</html>
